.aside {
  flex: 2;
  margin: 1em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.listEntry {
  border-radius: 8px;
  background-color: rgba(0, 128, 255, 0.16);
  padding: 0.25em 0.8em;
}

.listEntryText {
  color: white;
  font-weight: 600;
}
