.navbar {
  gap: 8px;
  align-items: center;
  padding: 0.75em 0em;
  background-color: rgba(16, 16, 16, 0.58);
}

.inputs {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  padding: 24px;
  justify-content: center;
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}
